*{
    margin: 0;
    padding: 0;
  }
  
#page-container {
    position: relative;
    min-height: 100vh;
}

.modal{
    display: none;
    position: fixed;
    background-color: #333;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.400);
    opacity: 0.7;
}

.modalContent{
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.400);
    padding: 10px 10px 10px 10px;
    margin-top: 5%;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: max-content;
}

.closeButton{
    color:blue;
    float: right;
    font-size: 30px;
    margin: 5px 15px 5px 5px;
}
  p.validity{
    margin-bottom: 0px;
  }
  
  article{
    text-align:justify;
    margin-left: auto;
    margin-right: auto;
    background-color: blanchedalmond;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.400);
    padding: 5px 8px 5px 8px;
    margin: 120px 0px 30px 0px ;
    opacity: 0.85;
    }
  
  h2{
  opacity: initial;
  text-align: center;
  color: black;
  padding: 5px;
  right: 0;
  top: 0;
  left: 0;
  margin-top: 0;
  }
  
  footer{
  position: absolute;
  bottom: 0;
  padding: 5px;
  background-color:  #333;
  text-align: center;
  color: white;
  width: 100%;
  font-size: small;
  }
  
  